# Multiple Linear Regression & Polynomial Regression

## Sample Dataset

### Training Dataset

In [2]:
import pandas as pd
pizza = {'diameter':[6,8,10,14,18],
        'n_topping':[2,1,0,2,0],
        'harga':[7,9,13,17.5,18]}
train_pizza_df = pd.DataFrame(pizza)
train_pizza_df

   diameter  n_topping  harga
0         6          2    7.0
1         8          1    9.0
2        10          0   13.0
3        14          2   17.5
4        18          0   18.0

### Testing Dataset

In [3]:
pizza = {'diameter':[8,9,11,16,12],
        'n_topping':[2,0,2,2,0],
        'harga': [11,8.5,15,18,11]}
test_pizza_df = pd.DataFrame(pizza)
test_pizza_df

   diameter  n_topping  harga
0         8          2   11.0
1         9          0    8.5
2        11          2   15.0
3        16          2   18.0
4        12          0   11.0

## Preprocessing Dataset

In [4]:
import numpy as np
X_train = np.array(train_pizza_df[['diameter','n_topping']])
y_train = np.array(train_pizza_df['harga'])
print(f'X_test : {X_train}')
print(f'y_test : {y_train}')

X_test : [[ 6  2]
 [ 8  1]
 [10  0]
 [14  2]
 [18  0]]
y_test : [ 7.   9.  13.  17.5 18. ]

In [7]:
X_test = np.array(test_pizza_df[['diameter','n_topping']])
y_test = np.array(test_pizza_df['harga'])
print(f'X_test : {X_test}')
print(f'y_test : {y_test}')

X_test : [[ 8  2]
 [ 9  0]
 [11  2]
 [16  2]
 [12  0]]
y_test : [11.   8.5 15.  18.  11. ]