# Regression dengan KNN (K Nearest Neighbors)
- Tidak hanya dapat digunakan di classification tasks, KNN juga dapat digunakan untuk regression tasks

## Sample Dataset

In [1]:
import pandas as pd
sensus = {'tinggi':[158,170,183,191,155,163,180,158,170],
         'jk':['pria','pria','pria','pria','wanita','wanita','wanita','wanita','wanita'],
         'berat':[64,86,84,80,49,59,67,54,67]}
sensus_df = pd.DataFrame(sensus)
sensus_df

   tinggi      jk  berat
0     158    pria     64
1     170    pria     86
2     183    pria     84
3     191    pria     80
4     155  wanita     49
5     163  wanita     59
6     180  wanita     67
7     158  wanita     54
8     170  wanita     67