# Mengenal Categorical Encoding: Label Encoding & One Hot Encoding

## Apa itu Categorical Encoding ?
Categorical Encoding adalah proses konversi nilai categorical menjadi nilai categorical
Terdapat banyak jenis Categorical Encoding, dua diantaranya adalah :
- Label Encoding
- One Hot Encoding

## Label Encoding
Pada Label Encoding , setiap kategori pada sebuah feature akan diurutkan secara alfabet dan direpresentasikan sebagai sebuah nilai integer.

### Dataset

In [1]:
import pandas as pd
df = pd.DataFrame({'country':['India','US','Japan','US','Japan'],
                  'age':[44,34,46,35,23],
                  'salary':[72000,65000,98000,45000,34000]
                  })
df

  country  age  salary
0   India   44   72000
1      US   34   65000
2   Japan   46   98000
3      US   35   45000
4   Japan   23   34000

### Label Encoding pada Scikit Learn

In [2]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['country'] = label_encoder.fit_transform(df['country'])
df

   country  age  salary
0        0   44   72000
1        2   34   65000
2        1   46   98000
3        2   35   45000
4        1   23   34000

In [3]:
label_encoder.classes_

array(['India', 'Japan', 'US'], dtype=object)